header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr,1fr, 1fr;
    grid-template-rows:0.2fr 1.5fr;
   border-top: 2px solid black;
   grid-template-areas:
   "a1 a1 a1"
   "a2 a2 a2"
   "a3 a3 a3"
   "a4 a4 a4" 
    ;
}
  #a2{
      border-right: 2px solid black;
      border-left: 2px solid black;
      border-bottom: 2px solid black;
  }
#a1{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
#a4{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
#a3{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
    
img{
    width: 500px;
    height: 300px;
}


.end{

}
#Politics{
    background-color:rgb(199, 199, 25);
    height: 5vh;
}
#Technology{
    background-color:skyblue;
    height: 5vh;
}
#Locals{
    background-color: rgb(33, 188, 249);
    height:5vh;
}
#Opinion{
    background-color: rgb(133, 184, 167);
    height: 5vh;
}
#Sports{
    background-color:rgb(147, 73, 147);
    height: 5vh;
}