header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.container{
    display: grid;
    height: 100vh;
    border-top: 2px solid black;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr;
    grid-template-areas: 
        "h1 h1 h1"
        "h2 h2 h2"
        "h3 h3 h3"
        "h4 h4 h4";
}
#h1{
    border-right:2px solid black ;
    border-bottom: 2px solid black;
}
#h2{
    border-right:2px solid black ;
    border-left: 2px solid black;
    border-bottom:2px solid black ;
}
#h3{
    border-right:2px solid black ;
    border-bottom:2px solid black ;
}
#h4{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
#politics{
    background-color: rgb(199, 199, 25);
    height: 5vh;
}
#technology{
    background-color: skyblue;
    height: 5vh;
}
#locals{
    background-color: rgb(33, 188, 249);
    height: 5vh;
}
#opinion{
    background-color: rgb(133, 184, 167);
    height: 5vh;
}
#sports{
    background-color: rgb(147, 73, 147);
    height: 5vh;
}
